@import url(https://db.onlinewebfonts.com/c/d020f10fdfaac592b66257c823e4deb0?family=WitchfinderNecronomicon+W95+Rg);

* {
  box-sizing: border-box;
}
html {
  font-size: 1.5em;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 1em;
  }
}

header {
  display: flex;
  justify-content: center;
}

body {
  font-size: 2rem;
  padding: 0.7em;
  background-image: url("/images/Black-Basalt.jpg");
  background-size: cover;
  font-family: Sans-Serif;
}
ol, ul {
	list-style: none;
}
.SlidingPuzzle {
  max-width: 95%;
  width: 13rem;
  background: #242526;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.SlidingPuzzle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0;
}

.Tile {
  font-family: "WitchfinderNecronomicon W95 Rg";
  font-size: 3.5rem;
  text-align: center;
  color: #04F404;
  background-image: url("/images/Basalt-01.jpeg");
  background-size: cover;
  padding: 20% 0.2rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
}

/* Moves counter styles */
section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.moves {
  font-size: 0.8rem;
  margin: 1rem 0.5rem 1rem 1rem;
  background: #242526;
  padding: 0.6rem 0.8rem;
  color: #EFEDE5;
  border-radius: 0.3rem;
  white-space: nowrap;
}
#movesnum {
  background: #EFEDE5;
  padding: 0.2rem 0.5rem;
  color: #242526;
  border-radius: 0.3rem;
  font-weight: bold;
}
button {
  font-size: 0.8rem;
  margin: 0.5rem;
  padding: 0.5rem 0.8rem;
  color: #242526;
  border-radius: 0.3rem;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  section { flex-direction: column; }
  .moves { margin: 1rem 0 0.5rem 0; }
}

@media (min-width: 900px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
